#!/usr/bin/env sh
alias dots='git --git-dir=$HOME/.dots.git --work-tree=$HOME'
alias dots-ls='dots ls-files'
alias dots-ls-untracked='dots status -u .'

alias externalip="curl -s checkip.dyndns.org | sed 's/[^0-9.]//g'"

alias xorglog="vim /var/log/Xorg.0.log"
alias xorglogbumblebee="vim /var/log/Xorg.8.log"
alias xorgconf="vim /etc/X11/xorg.conf.d/20-gpu.conf"
alias xorgconfbumblebee="vim /etc/bumblebee/xorg.conf.nvidia"

alias ga="git add"
alias gd="git diff"
alias gds="git diff --staged"
alias gco="git checkout"
alias gst="git status"
alias ggpur="git pull --rebase"

alias vi="nvim"
alias vim="nvim"
alias e="emacsclient -t -a ''"
alias eb="emacsbare"
alias ec="emacsclient -c -n -a ''"
alias emacsbare="emacs -nw -Q --eval \"(load-theme 'gruvbox)\""

alias reboot="sudo reboot"
alias poweroff="sudo poweroff"
alias halt="sudo halt"
alias lemonbar-striptags='sed -u -r "s/%\{[^}]+\}//g"'
alias lemonbar-striptags-trim='lemonbar-striptags | tr -s " "'

alias cmake-debug="cmake -DCMAKE_BUILD_TYPE=debug"
alias cmake-release="cmake -DCMAKE_BUILD_TYPE=release"
alias cmake-release-globalinstall="cmake -DCMAKE_BUILD_TYPE=release -DCMAKE_INSTALL_PREFIX=/usr"
alias cmake-uninstall='if [ -e install_manifest.txt ]; then sudo rm -i -v "$(cat install_manifest.txt)" install_manifest.txt; else echo "Cannot find install_manifest.txt"; fi'
alias cmake-clean='[[ $(basename $(pwd)) == "build" ]] && cd .. && rm -rf build && mkdir build && cd build && cmake ..'

# Default command flags
alias mv="mv -v"
alias ln="ln -v"
alias cp="cp -v"
alias rm="rm -v"
alias ls="ls -l --group-directories-first --dereference-command-line-symlink-to-dir --color=auto"
alias ll="ls --dereference-command-line-symlink-to-dir -lh"
alias la="ls -la --dereference-command-line-symlink-to-dir --color=auto"
alias info="info --vi-keys"
alias pgrep="pgrep -l"
alias grep="grep -i --color=auto"
alias egrep="egrep --color=auto"

# Personal stuff
alias reshift='redshift -l 35.22:-80.84'
alias nightmode='redshift -r 0 3600 -b .5'
alias youtube='mpsyt'

alias path='echo -e ${PATH//:/\\n}'
alias libpath='echo -e ${LD_LIBRARY_PATH//:/\\n}'

# Spelling corrections
alias vmi="vim"
alias exi="exit"
alias exti="exit"
alias eitx="exit"
alias eixt="exit"
alias exiyt="exit"
alias exity="exit"

# vim:ft=sh
# Dylan's shell aliases and functions




# Remove orphaned package dependencies
alias cleandeps='sudo pacman -Rns $(pacman -Qtdq)'

# Download youtube url to an .mp3
# and save it to my music folder.
alias mp3dl="cd $HOME/Music && youtube-dl --extract-audio -f bestaudio --audio-format mp3 --no-playlist"

# Creates a playlist from an ls of my Music Folder
alias lsnc="ls -A --color=none"
alias plu="lsnc $HOME/Music > $HOME/.mpd/playlists/music.m3u"

# pwd
alias pwd.sh="cd $HOME/pwd.sh && ./pwd.sh"

# Makes ls list all files and always use color
alias ls="ls -A --color=always --group-directories-first"

# Always open urxvt clients
alias urxvt="urxvtc"

# Launch sxiv without the bottom bar
alias sxiv="sxiv -b"

# Gen neovim scheme
# This line doesn't work inside of gencol.sh for some reason
alias nvimgen="erb -T - ~/colorschemes/ryuuko/ryuuko.erb > ~/colorschemes/ryuuko/colors/ryuuko.vim"

# Record screen
alias record="ffmpeg -f x11grab -s 1920x1080 -framerate 60 -an -i :0.0 -c:v libvpx -b:v 5M -crf 10 -quality realtime -y -loglevel quiet"

alias fetch2="fetch \
--block_range 1 8 \
--line_wrap off \
--bold off \
--uptime_shorthand on \
--gtk_shorthand on \
--gpu_shorthand on \
--colors 4 1 8 8 8 7 \
--gtk3 off \
"

alias fixtime="sudo ntpd -qg"
alias mlg="livestreamer http://tv.majorleaguegaming.com/channel/csgo 720p --player mpv"

# }}}



